<form class="call-form flex flex-col gap-3">
  <label class="w-full">
    <p class="text-lg text-orange-500">Ваше имя</p>
    <input
      type="text"
      name="title"
      class="p-1 w-full border rounded border-1 border-yellow-300 focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-300"
    />
  </label>

  <label class="w-full">
    <p class="text-lg text-orange-500">Ваш телефон</p>
    <input
      type="tel"
      name="phone"
      class="p-1 w-full border rounded border-1 border-yellow-300 focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-300"
    />
  </label>
</form>