<form class="call-form flex flex-col gap-3 call-form">
  <label>
    <ui-input
      label="Ваше имя"
      type="text"
      name="name"
      class="text-orange-500 psw"
      class-name="p-1 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-300"
    ></ui-input>
  </label>

  <label>
    <ui-input
      label="Ваш телефон"
      type="tel"
      name="phone"
      class="text-orange-500 psw"
      class-name="p-1 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-300"
    ></ui-input>
  </label>
</form>