<div class="container mx-auto px-4 animate-fade-left animate-duration-1000">
  <div class="col-span-3 relative">
    <ui-loader loading="{{isLoading}}" class-name="z-1 bg-white/70"></ui-loader>

    <div class="px-5 mt-10">
      <div class="flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="orange"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-left"
        ><path d="m12 19-7-7 7-7" /><path d="M19 12H5" /></svg>
        <router-link
          label="Вернуться на главную"
          class="text-orange-500 text-sm"
          href="${props.routes.home}"
        ></router-link>
      </div>
    </div>
    <div class="mt-24">
      <div class="flex justify-start relative">
        <img class="absolute" src="/left-man.png" alt="left-man" />
      </div>
      <div class="flex justify-end relative">
        <img class="absolute" src="/right-girl.png" alt="right-girl" />
      </div>
      <div class="flex items-center justify-center">
        <div
          class="mt-16 border-orange-400 border-2 p-9 h-2/5 w-2/4 rounded-lg m-0"
        >
          <h1 class="text-2xl">Войти в аккаунт</h1>
          <p class="text-slate-400 mt-3 text-sm">
            Ещё нет аккаунта?
            <router-link
              label="Регистрация"
              class="text-orange-500"
              href="${props.routes.signUp}"
            ></router-link>
          </p>
          <form class="flex flex-col gap-3 sign-in-form mt-12">
            <ui-input
              placeholder="Введите email"
              label="Ваш email"
              name="email"
              type="email"
              error="{{errors.email}}"
              class="border-black-200 rounded in text-orange-500"
              class-name="p-1 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-300"
            ></ui-input>
            <ui-input
              label="Пароль"
              type="password"
              name="password"
              class="text-orange-500"
              placeholder="Введите пароль"
              class-name="p-1 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-300"
            ></ui-input>
            <ui-button
              class="btn"
              caption="Войти"
              class-name="btn block w-full text-white"
            ></ui-button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>