<div
  class="flex items-center justify-between mt-4 bg-orange-400 p-3 rounded-lg"
>

  <div class="flex items-center justify-between">
    <ui-logo></ui-logo>
  </div>
  <div class="font-bold">
    <h3 class="text-lg">Доставка пиццы
      <span class="text-white text-xl">Москва</span>
    </h3>
    <div class="flex items-center gap-2">
      <img src="/delivery.svg" alt="yandex-food" />
      <p>Яндекс еда</p>
      <div class="h-1 w-1 bg-yellow-200 rounded-full"></div>
      <p>4.8</p>
      <img src="/raiting.svg" alt="raiting" />
      <p>Время доставки</p>
      <div class="h-1 w-1 bg-yellow-200 rounded-full"></div>
      <p>от 31 мин</p>
    </div>
  </div>
  <nav class="flex gap-5">
    <router-link
      href="${props.routes.products}"
      class="text-white block p-1 rounded-lg hover:hover:scale-110 ease-in duration-300"
      label="Магазин"
    ></router-link>
    <router-link
      href="${props.routes.contacts}"
      class="text-white block p-1 rounded-lg hover:scale-110 ease-in duration-300"
      label="Контакты"
    ></router-link>
    <router-link
      href="${props.routes.room}"
      class="text-white block p-1 rounded-lg hover:hover:scale-110 ease-in duration-300"
      label="Личный кабинет"
    ></router-link>
  </nav>
  <div>
    <ui-button
      class="order-call"
      caption="Заказать звонок"
      class-name="bg-violet-500 text-white"
    ></ui-button>
  </div>
  <div class="flex items-center gap-5">
    <div>
      <div class="flex flex-col items-center">
        <a
          href="{{user.email}}"
          class="text-lg font-light mt-2 email text-yellow-100"
        >{{user.email}}</a>
        <span>{{user.displayName}}</span>
        <span>{{user.phoneNumber}}</span>
        <span class="logout-btn cursor-pointer text-yellow-100">Выйти</span>
      </div>
    </div>
    <span class="font-bold">|</span>
    <div class="relative">
      <div class="relative cursor-pointer cart">
        <img class="h-10 w-10" src="/cart.svg" alt="cart" />
      </div>
    </div>
  </div>

</div>