<div
  class="flex items-center justify-between mt-4 bg-orange-300 p-3 rounded-lg"
>
  <div class="flex items-center justify-between">
    <ui-logo></ui-logo>
  </div>
  <nav class="flex gap-5">
    <router-link
      href="${props.routes.contacts}"
      class="text-white block p-1 rounded-lg hover:scale-110 ease-in duration-300"
      label="Контакты"
    ></router-link>
    <router-link
      href="${props.routes.products}"
      class="text-white block p-1 rounded-lg hover:hover:scale-110 ease-in duration-300"
      label="Магазин"
    ></router-link>
    <router-link
      href="${props.routes.room}"
      class="text-white block p-1 rounded-lg hover:hover:scale-110 ease-in duration-300"
      label="Личный кабинет"
    ></router-link>
  </nav>
  <div>
    <a
      href="mailto:{{user.email}}"
      class="text-lg font-light mt-2 text-slate-500 hover:text-indigo-500"
    >{{user.email}}</a>
    <ui-button
      caption="Корзина"
      class-name="bg-yellow-400 text-black"
    ></ui-button>
  </div>
</div>