<form class="call-form flex flex-col gap-3 order-form">
  <h1>Заказ на доставку</h1>
  <label class="w-full">
    <p class="text-lg text-orange-500">Ваше имя</p>
    <input
      type="text"
      name="title"
      class="p-1 w-full border rounded border-1 border-yellow-300 focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-300"
    />
  </label>

  <label class="w-full">
    <p class="text-lg text-orange-500">Ваш телефон</p>
    <input
      type="tel"
      name="phone"
      class="p-1 w-full border rounded border-1 border-yellow-300 focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-300"
    />
  </label>
  <label class="w-full">
    <p class="text-lg text-orange-500">Дата доставки</p>
    <input
      type="date"
      name="date"
      class="p-1 w-full border rounded border-1 border-yellow-300 focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-300"
    />
  </label>
  <label class="w-full">
    <p class="text-lg text-orange-500">Ваш адрес</p>
    <input
      type="text"
      name="adr"
      class="p-1 h-14 w-full border rounded border-1 border-yellow-300 focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-300"
    />
  </label>
    <div class="flex justify-between items-center">
      <div>
        <fieldset>
          <legend class="text-orange-400">Способ оплаты курьеру:</legend>
          <div>
            <input type="radio" id="cash" name="pay" value="Наличные" checked />
            <label for="cash">Наличные</label>
          </div>
          <div>
            <input type="radio" id="card" name="pay" value="Картой" />
            <label for="card">Картой</label>
          </div>
        </fieldset>
    </div>
  </div>
  <div>
    <h2 class="text-orange-400">Ваш заказ</h2>
    {{#each data}}
      <p>{{this.title}} <span class="text-orange-300">{{this.qty}} шт.</span></p>
    {{/each}}
    <p>На сумму: {{totalPrice}} ₽</p>
  </div>
</form>