<footer class="container mx-auto px-4 mt-4">
  <div
    class="flex items-center justify-between border-t-2 border-orange-500 p-4"
  >
    <div>
      <ui-logo></ui-logo>
      <div class="flex gap-4 mt-6 items-center justify-between">
        <p class="font-bold">Калорийность и состав</p>
        <p class="font-bold">Правовая информация</p>
      </div>
      <h3 class="font-bold text-xl mb-6 mt-8">Мы в соцсетях</h3>
      <div class="grid grid-cols-3 gap-4">
        <div class="font-medium">
          <div class="text-red-500"><a href="">YouTube</a></div>
          <div class="text-pink-500"><a href="">Instagram</a></div>
        </div>
        <div class="font-medium">
          <div class="text-sky-500"><a href="">Facebook</a></div>
          <div class="text-blue-500"><a href="">ВКонтакте</a></div>
        </div>
        <div class="font-medium">
          <div>Москва ул. Проспект</div>
          <p>Вернадского 86В</p>
        </div>
      </div>
      <div class="mt-12 flex items-center gap-10">
        <p>YaBao Все права защищены ©2024</p>
        <div class="flex items-center gap-5">
          <img src="/unionpay.svg" alt="" />
          <img src="/mastercard.svg" alt="" />
          <img src="/visa.svg" alt="" />
        </div>
      </div>
    </div>
    <div>
      <h2 class="font-bold text-2xl mb-20">Остались вопросы? А мы всегда на
        связи:</h2>
      <div>
        <div class="flex items-center justify-center gap-6">
          <div
            class="border border-stone-400 px-11 py-2 rounded-lg cursor-pointer hover:scale-110 ease-in duration-300"
          >
            <img src="/viber.svg" alt="viber" />
          </div>
          <div
            class="border border-stone-400 px-11 py-2 rounded-lg cursor-pointer hover:scale-110 ease-in duration-300"
          >
            <img src="/skype.svg" alt="skype" />
          </div>
          <div
            class="border border-stone-400 px-11 py-2 rounded-lg cursor-pointer hover:scale-110 ease-in duration-300"
          >
            <img src="/smt.svg" alt="smt" />
          </div>
          <div
            class="border border-stone-400 px-11 py-2 rounded-lg cursor-pointer hover:scale-110 ease-in duration-300"
          >
            <img src="/telegramm.svg" alt="telegramm" />
          </div>
        </div>
        <div class="flex items-center justify-center gap-6 mt-4">
          <div
            class="border border-stone-400 px-11 py-2 rounded-lg cursor-pointer hover:scale-110 ease-in duration-300"
          >
            <img src="/facebook.svg" alt="facebook" />
          </div>
          <div
            class="border border-stone-400 px-11 py-2 rounded-lg cursor-pointer hover:scale-110 ease-in duration-300"
          >
            <img src="/vk.svg" alt="vk" />
          </div>
          <div
            class="font-bold border text-stone-500 border-stone-400 px-11 py-2.5 rounded-lg cursor-pointer flex-initial hover:scale-110 ease-in duration-300"
          >
            <p>Написать нам</p>
          </div>
        </div>
      </div>
      <div class="mt-12 flex items-center justify-center gap-5">
        <img src="/phone.svg" alt="" />
        <a class="text-yellow-500 text-2xl" href="tel:8499391-84-49">8 499
          391-84-49</a>
        <ui-button
          class="order-call"
          caption="Заказать звонок"
          class-name="bg-violet-500 text-white"
        ></ui-button>
      </div>
    </div>

  </div>

</footer>