<ui-loader loading="{{isLoading}}" class-name="z-1 bg-white/70"></ui-loader>
<div class="relative">
  <app-router class="animate-fade-left animate-duration-3000">
    <app-route
      path="${props.routes.home}"
      title="Home Page"
      component="home-page"
      class="animate-fade-left animate-duration-3000"
    ></app-route>
    <app-route
      path="${props.routes.signIn}"
      title="Sign In"
      component="signin-page"
      class="animate-fade-left animate-duration-1000"
    ></app-route>
    <app-route
      path="${props.routes.signUp}"
      title="Sign Up"
      component="signup-page"
      class="animate-fade-left animate-duration-1000"
    ></app-route>
    <app-route
      path="${props.routes.products}"
      title="Products Page"
      component="products-page"
      class="animate-fade-left animate-duration-3000"
    ></app-route>
    <app-route
      path="${props.routes.contacts}"
      title="Contacts Page"
      component="contacts-page"
      class="animate-fade-left animate-duration-3000"
    ></app-route>
    <app-route
      path="${props.routes.cart}"
      title="Cart Page"
      component="cart-page"
      class="animate-fade-left animate-duration-3000"
    ></app-route>
    <app-route
      path="${props.routes.notFound}"
      title="404 | Not Found"
      component="not-found"
      class="animate-fade-left animate-duration-3000"
    ></app-route>
    <app-outlet></app-outlet>
  </app-router>
</div>
<ui-toast></ui-toast>